@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root[theme="dark"] {
    --textColor: #ffffff;
    --bgColor: #252424;
    --buttonColor: #48a8e3;
  }
  :root[theme="light"] {
    --textColor: #000000;
    --bgColor: #ffffff;
    --buttonColor: #48a8e3;
  }

  .height {
    height: 450px;
  }

  .imgBorderRadius {
    border-radius: 50%;
  }
}
